.form-control {
	border-radius: 50px;   
	font-size: 14px;
	height: 40px;
}
.form-control:focus {
	box-shadow: none;
}

.btn {
	border-radius: 50px;
	padding: 7px 30px;
	font-size: 15px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
.btn i, .btn img, .btn ion-icon {
	margin-right: 5px;
}
.btn img {
	width: 20px;
} 
/*admin header start*/
.admin-header-section .navbar {
	padding: 0
}
.navbar-brand-wrapper {
	background: #1c45ef;
	width: 270px;
	padding: 12px 5px;
}
.navbar-menu-wrapper {
	width: calc(100% - 270px);
	padding: 5px 20px 5px 30px;
}
.navbar-menu-wrapper .navbar-nav {
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}
.search-form {
	width: 100%;
	padding: 0 5%;
}
.search-form .form-control {
	font-size: 13px;
}
.user-img {
	width: 32px;
}
.user-navbar {
	min-width: 165px;
}
.user-navbar .nav-item.dropdown {
	margin: 0 10px;
	cursor: pointer;
}
.count-indicator img {
	width: 20px;
}
.count {
	position: absolute;
	left: 50%;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background: #FF0017;
	color: #ffffff;
	font-size: 11px;
	top: 2px;
	font-weight: 600;
	line-height: 1rem;
	border: none;
	text-align: center;
}

.contact-navbar {
	min-width: 270px;
}

.flag-icon-holder img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.navbar-toggler img {
	width: 20px;
	min-width: 20px;
}
.help-txt, .lan-txt {
	font-size: 14px;
	font-weight: 600;
}
.lan-txt {
	padding-left: 10px;
}
.navbar-toggler {
	padding: 0;
	margin-right: 20px;
}
.navbar-nav .dropdown-menu {
	position: absolute;
	top: 55px;
	margin: 0;
}
.navbar-nav .language-dropdown .dropdown-menu {
	width: 170px;
}
.navbar-nav .dropdown-menu .dropdown-item {
	display: flex;
	font-size: 15px;
	padding: 5px 10px;
	align-items: center;
	cursor: pointer;
}
.notification-dropdown .dropdown-menu {
	width: 200px;
	padding: 0;
	left: auto !important;
	right: 0 !important;
}
.notification-dropdown .dropdown .dropdown-item-tlt {
	padding: 14px 25px;
}
.notification-dropdown .dropdown-item-tlt .dropdown-item-txt {
	width: 100%;
}
.notification-dropdown .dropdown-menu .dropdown-item {
	padding: 10px 20px;
	align-items: center;
	cursor: pointer;
	border-top: 1px solid #eaeaea;
}
.notification-dropdown .flag-icon-holder img {
	width: 43px;
	height: 43px;
}
/*admin header end*/

/*left bar start*/

.left-sidebar::-webkit-scrollbar-track,.category-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.left-sidebar::-webkit-scrollbar, .category-list::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.left-sidebar::-webkit-scrollbar-thumb, .category-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: -webkit-gradient(linear, left bottom, left top, from(#5768f3), to(#1c45ef));
	background: linear-gradient(to top, #5768f3, #1c45ef);
}
.left-sidebar {
	height: calc(100vh - 63px);
	background: -webkit-gradient(linear, left bottom, left top, from(#5768f3), to(#1c45ef));
	background: linear-gradient(to top, #5768f3, #1c45ef);
	padding: 0;
	width: 270px;
	z-index: 11;
	transition: width 0.25s ease, background 0.25s ease;
	-webkit-transition: width 0.25s ease, background 0.25s ease;
	-moz-transition: width 0.25s ease, background 0.25s ease;
	-ms-transition: width 0.25s ease, background 0.25s ease;
}
.left-sidebar:hover {
	overflow-y: auto;
}
.nav-profile {
	margin: 30px auto;
}
.back-link {
	font-size: 12px;
	color: #fff;
	text-transform: capitalize;
	display: inline-block;
	margin-left: 30px;
	text-decoration: underline;
	margin-top: 20px;
}
.back-link:hover {
	color: #fff;
}
.cat-li {
}
.cat-li .cat-link {
	position: relative;
	padding: 15px 30px 15px 55px;
	white-space: nowrap;
	color: #fff !important;    
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	cursor: pointer;
	font-weight: 500
}
.cat-li .cat-link i {
	font-size: 14px;
	font-weight: 600;
	float: right;
	position: relative;
	top: 7px;
	color: rgba(255, 255, 255, 0.8);
}
.cat-li:hover .cat-link {
	background: #0f25d5;
	padding-left: 65px;
}
.cat-li.active .cat-link {
	background: transparent;
	padding-left: 55px;
}
.cat-li.active .cat-link i {
	transform: rotate(90deg);
}
.cat-li.active .sub-menu {
	display: block;
}
.cat-li .cat-link:before {
	content: "";
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(0, -50%);
	width: 10px;
	height: 10px;
	border-radius: 100%;
	border: 2px solid #fff;
	display: block;
}
.cat-li .sub-menu {
	display: none;
}
.cat-li .sub-menu .nav-link {
	position: relative;
	padding: 5px 0 5px 70px;
	font-size: 13px;
	color:rgba(255, 255, 255, 0.8) !important;    
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	cursor: pointer;
	font-weight: 500;
}
.cat-li .sub-menu .nav-link:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 35px;
	display: block;
	height: 100%;
	width: 2px;
	background: #1026de;
}
.cat-li .sub-menu .nav-link:hover:before,.sub-menu .nav-link.active:before {
	background: #fff;
}
.nav-profile .nav-link {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	width: max-content;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.11);
}
.profile-image {
	margin-right: 17px;
	position: relative;
}
.profile-image img {
	width: 32px;
	height: 32px;
}
.dot-indicator {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
}
.profile-txt {
	color: #fff;
}
.profile-txt p {
	margin-bottom: 0;
}
.profile-txt .profile-name {
	font-weight: 600;
	font-size: 15px;
}
.profile-txt  .designation {
	font-weight: 400;
	font-size: 13px;
}
.nav-category {
	color: rgba(255, 255, 255, 0.7);
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
	margin: 0 30px;
	font-size: 15px;
	font-weight: 500;
	padding: 10px 0px 15px 0px;
}
/*left bar end*/


.main-body {
	width: calc(100% - 270px);
	background: #f3f3f3;
	overflow-y: auto;
	height: calc(100vh - 63px);
}

/*categories start*/
.category-list {
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin-bottom: 25px;
	overflow-x: auto;
}
.category-nav .nav .nav-item {
	margin-bottom: 10px;
}
.category-nav .nav .nav-link {
	border-radius: 5px;
	background: #c6c7d4;
	margin-right: 10px;
	width: 190px;
	padding: 0 10px;
	font-size: 15px;
	text-align: center;
	border-bottom: 4px solid #c6c7d4;
	color: #6a6975;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	cursor: pointer;
}
.category-nav .nav .nav-link.active {
	border-bottom: 4px solid #6a7bff;
	color: #000;
}
.add-btn {
	background: #1c45ef;
	color: #fff;
}
.category-list .btn {
	border-radius: 50%;
	padding: 0;
	height: 30px;
	width: 30px;
	background: #c6c7d4;
	margin: 0 6px;
}
.category-list .btn img{
	margin-right: 0;
}
.table {
	background: #fff;
}
.category-list .table-striped  tr th, .category-list .table-striped tr td {
	font-size: 14px;
	color: #6a6975;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.category-list .table-striped  tr th {
	font-weight: 600;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: #f5f5f9;
}
.category-input {
	margin-bottom: 30px;
}
.back-ul {
	margin-bottom: 20px;
}
.back-li { 
	color: #6a6975;
}
.back-li img {
	width: 20px;
}
/*categories end*/


/*size*/
.form-group label {
	margin-bottom: 0;
}
.admin-cat-tlt {
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 20px;
}

/*size*/

/*assing-modal*/

.assing-modal .modal-content {
	border: 3px solid #1c45ef;
}
.assing-modal .modal-body {
	padding: 25px;
}
.as-tlt {
	display: flex;
	align-items: center;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
}
.as-tlt label {
	padding-right: 10px;
}
.assing-modal label{

	margin-bottom: 0;
}
.size-as {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	margin-bottom: 10px
}
.size-as label {
	margin-right: 10px;
	max-width: 350px;
}
.size-as-list {
	margin-bottom: 30px;
}
.assing-modal .modal-title {
	font-weight: 700;
}
.size-as-tlt {
    text-transform: capitalize;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
}
/*assing-modal*/

@media screen and (max-width:1150px) {
	.help-txt {
		display: none;
	}
	.contact-navbar {
		min-width: 120px;
	}
}
@media screen and (max-width:991px) {
	.navbar-brand-wrapper {
		width: 70px;
	}
	.navbar-menu-wrapper {
		width: calc(100% - 70px);
		padding: 5px 15px 5px 15px;

	}
	.left-sidebar {
		position: fixed;
		left: -300px;
	}
	.main-body {
		width: 100%;
	}

}

body{
	overflow: hidden;
}

@media screen and (max-width:767px) {
	.contact-navbar {
		min-width: 45px;
	}
	.navbar-toggler {
		margin-right: 10px;
	}

}